@use "../variables/breakpoints" as breakpoints;
@use "../variables/lists" as list;
@use "../utility/responsive" as resposive;
@use "../utility/rem" as rem;

@mixin Hiragino_W7 {
  font-family: "HiraginoSans-W7", sans-serif;
}

@mixin Hiragino_W4 {
  font-family: "HiraginoSans-W4", sans-serif;
}

@mixin Graphik {
  font-family: "Graphik", sans-serif;
}
