@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;

.c-logo {
  a {
    padding: 10px;
    img {
      width: calc(54px);

      @include responsive.responsive(md) {
        width: calc(80px);
      }
    }
  }
}
